@charset "UTF-8";
.floor-adv {
    margin-top: 30px;
    overflow: hidden;
     li {
        float: left;
        width: 403px;
        height: 110px;
        overflow: hidden;
                img {
                    width: 403px;
                    height: 110px;
                }
    }
}