@charset "utf-8";
.cart_content {
    width: 1000px;
    margin: 0 auto;
    background: #fff none repeat scroll 0 0;
    #header {
        background-position: 0 -50px;
        height: 27px;
        line-height: 27px;
        background-image: url(http://static.womai.com/zhongliang/templets/cart2014/images/20121219BX.png);
        background-repeat: repeat-x;
         .myaccount {
            position: relative;
            padding-left: 8px;
            width: 65px;
            z-index: 500;
             a {
                display: block;
                width: 80px;
            }
            .ian {
                    text-decoration: none !important;
                }
             i {
                display: block;
                position: absolute;
                background-position: -57px -48px;
                background-repeat: no-repeat;
                top: 12px;
                right: 10px;
                width: 7px;
                height: 4px;
                font-size: 1px;
            }
             .accountpng {
                position: absolute;
                top: -2px;
                right: -1px;
                display: block;
                width: 25px;
                height: 18px;
                text-align: center;
                line-height: 15px;
                font-size: 12px;
                color: #fff;
                font-style: normal;
                background: url(http://static.womai.com/zhongliang/templets/cart2014/images/msgicon.png) 0 0;
            }
            .myaccount_cont {
                position: absolute;
                display: none;
                top: 27px;
                right: 0;
                padding: 2px 2px;
                width: 221px;
                height: 162px;
                background-color: #fff;
                border: 1px solid #8cb91e;
            }
             .loadding {
                    background: url(http://static.womai.com/zhongliang/templets/cart2014/images/wait.gif) no-repeat scroll 50% 50% transparent;
                }
        }
         li {
            background-position: right -303px;
            float: left;
            padding: 0 8px 0 6px;
        }
         li.none {
            background: none;
        }
    }
    .header_div {
        height: 95px;
        margin-top: 10px;
    }
    .w {
        margin: 0 auto;
        width: 1000px;
    }
}
.fr {
    float: right;
}
#header i, #header .myaccount_cont_r, #top_login_span li {
    background-image: url(http://static.womai.com/zhongliang/templets/cart2014/images/20121219BN.png);
    background-repeat: no-repeat;
    background: none;
}
li{list-style: none;}
a:link {
    color: #606060;
}
a {
    text-decoration: none;
}
.header_div {
    height: 95px;
    margin-top: 10px;
     .logo_a {
        width: 195px;
        height: 90px;
        float: left;
    }
    .step_ul {
        float: right;
        margin-top: 26px;
        display: inline;
        overflow: auto;
        zoom: 1;
        .step_1 {
            background-position: 0 0;
        }
        li {
            width: 643px;
            height: 38px;
            background: url(http://static.womai.com/zhongliang/templets/cart2014/images/checkout/progress.jpg) no-repeat;
        }

    }
}
.w {
    margin: 0 auto;
    width: 1000px;
}
//底部
.success-footer {
    margin-top: 30px;
    margin-bottom: 50px;
     p {
        color: #666;
    }
    .beian {
        display: inline-block;
        width: 200px;
         img {
            float: left;
        }
         p {
            margin: 0px 0px 0px 5px;
            color: #606060;
        }
    }
    .copyright {
        margin-top: 10px;
        color: #999;
    }
}
//商品购物车
.cart_empty {
    height: 120px;
    padding: 70px 0px 0px 410px;
    background: url(http://static.womai.com/zhongliang/templets/cart2014/images/checkout/emptycart_bg.png) 215px 5px no-repeat;
    text-align: left;
    .trip_p {
        color: #595757;
        font-family: "Microsoft YaHei";
        font-size: 23px;
        height: 30px;
        line-height: 30px;
    }
    .line_p {
        color: #898989;
        padding-top: 10px;
         a.indexa {
            color: #e9001c;
        }
         a.logina {
            color: #8cb91e;
        }
    }
}