.cart_content {
  width: 1000px;
  margin: 0 auto;
  background: #fff none repeat scroll 0 0; }
  .cart_content #header {
    background-position: 0 -50px;
    height: 27px;
    line-height: 27px;
    background-image: url(http://static.womai.com/zhongliang/templets/cart2014/images/20121219BX.png);
    background-repeat: repeat-x; }
    .cart_content #header .myaccount {
      position: relative;
      padding-left: 8px;
      width: 65px;
      z-index: 500; }
      .cart_content #header .myaccount a {
        display: block;
        width: 80px; }
      .cart_content #header .myaccount .ian {
        text-decoration: none !important; }
      .cart_content #header .myaccount i {
        display: block;
        position: absolute;
        background-position: -57px -48px;
        background-repeat: no-repeat;
        top: 12px;
        right: 10px;
        width: 7px;
        height: 4px;
        font-size: 1px; }
      .cart_content #header .myaccount .accountpng {
        position: absolute;
        top: -2px;
        right: -1px;
        display: block;
        width: 25px;
        height: 18px;
        text-align: center;
        line-height: 15px;
        font-size: 12px;
        color: #fff;
        font-style: normal;
        background: url(http://static.womai.com/zhongliang/templets/cart2014/images/msgicon.png) 0 0; }
      .cart_content #header .myaccount .myaccount_cont {
        position: absolute;
        display: none;
        top: 27px;
        right: 0;
        padding: 2px 2px;
        width: 221px;
        height: 162px;
        background-color: #fff;
        border: 1px solid #8cb91e; }
      .cart_content #header .myaccount .loadding {
        background: url(http://static.womai.com/zhongliang/templets/cart2014/images/wait.gif) no-repeat scroll 50% 50% transparent; }
    .cart_content #header li {
      background-position: right -303px;
      float: left;
      padding: 0 8px 0 6px; }
    .cart_content #header li.none {
      background: none; }
  .cart_content .header_div {
    height: 95px;
    margin-top: 10px; }
  .cart_content .w {
    margin: 0 auto;
    width: 1000px; }

.fr {
  float: right; }

#header i, #header .myaccount_cont_r, #top_login_span li {
  background-image: url(http://static.womai.com/zhongliang/templets/cart2014/images/20121219BN.png);
  background-repeat: no-repeat;
  background: none; }

li {
  list-style: none; }

a:link {
  color: #606060; }

a {
  text-decoration: none; }

.header_div {
  height: 95px;
  margin-top: 10px; }
  .header_div .logo_a {
    width: 195px;
    height: 90px;
    float: left; }
  .header_div .step_ul {
    float: right;
    margin-top: 26px;
    display: inline;
    overflow: auto;
    zoom: 1; }
    .header_div .step_ul .step_1 {
      background-position: 0 0; }
    .header_div .step_ul li {
      width: 643px;
      height: 38px;
      background: url(http://static.womai.com/zhongliang/templets/cart2014/images/checkout/progress.jpg) no-repeat; }

.w {
  margin: 0 auto;
  width: 1000px; }

.success-footer {
  margin-top: 30px;
  margin-bottom: 50px; }
  .success-footer p {
    color: #666; }
  .success-footer .beian {
    display: inline-block;
    width: 200px; }
    .success-footer .beian img {
      float: left; }
    .success-footer .beian p {
      margin: 0px 0px 0px 5px;
      color: #606060; }
  .success-footer .copyright {
    margin-top: 10px;
    color: #999; }

.cart_empty {
  height: 120px;
  padding: 70px 0px 0px 410px;
  background: url(http://static.womai.com/zhongliang/templets/cart2014/images/checkout/emptycart_bg.png) 215px 5px no-repeat;
  text-align: left; }
  .cart_empty .trip_p {
    color: #595757;
    font-family: "Microsoft YaHei";
    font-size: 23px;
    height: 30px;
    line-height: 30px; }
  .cart_empty .line_p {
    color: #898989;
    padding-top: 10px; }
    .cart_empty .line_p a.indexa {
      color: #e9001c; }
    .cart_empty .line_p a.logina {
      color: #8cb91e; }

/*# sourceMappingURL=cart.css.map */
